<section id='projects'><!---==========================SOME ACTIVITIES===============---->

    <!---card image dimensiond 640 x 426---->
    <h5 class="section-title">ACTIVITIES</h5>

    <div class="container-fluid">
    <div class="row" style="display:flex;justify-content: center;background:#f0f0f0">

        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 what-we-do" >
            <img class="card-img-top" src="../../assets/img/talkshow.png" alt="Radio Talk Shows">
            <div class="card-body ">
            <h5 class="card-title custom-title"> CHURCH PLANTING</h5>
            <p class="card-text">There are currently 13 churches in 13 different villages that have been fully
                constructed to a modern standard through the new church
                plant programme</p><a routerLink="/churchplant">...read more</a>
            </div>
            
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 what-we-do">
            <img class="card-img-top" src="../../assets/img/women-two-front.png" alt="Paralegal training">
            <div class="card-body">
            <h5 class="card-title custom-title">WOMEN PURSE</h5>
            <p class="card-text">Its a women's programme aimed at transforming lives of women in the community.
            Our Mission statement is “Restored hope among women through holistic approach”
            It started in 2010 with 10 women
            It has now grown to 1000 women.</p><a href="../../assets/purse.html">...read more</a>
            </div>
            
        </div>

        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 what-we-do">
                    <img class="card-img-top" src="../../assets/img/educ-one-front.png" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title custom-title">EDUCATION</h5>
                    <p class="card-text">The ministry  runs a primary school...</p><a href="./education.html">...read more</a>
                    </div>
                    
        </div>

        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 what-we-do">
            <img class="card-img-top" src="../../assets/img/educ-one-front.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title custom-title">BIBLE SCHOOL</h5>
            <p class="card-text">The ministry runs a bible school that was started in 2010 and has put a tremendous impact on pastors by empowering them to preach and teach the word of God.  The ministry also runs a primary school...</p><a href="./education.html">...read more</a>
            </div>
            
</div>

 </div>
    
</div>
    
</section>
