<footer>

    <div class="container-fluid">
    <div class="row">
     
      <div class="col-lg-3 col-md-3  footer-section ">
        <h5>ABOUT</h5>
        <p style="color:#ccc">
          The ministry focuses on holistic needs of the people in the communities.
          and currently focuses on reaching out to the following areas:<br>
          The womens Ministry,<br>Youth Ministry,<br> Pastoral Ministry,<br>
         Evangelism,<br>Missions including Church planting and decipleship.
        </p>
        
    </div>

    <div class="col-lg-3 col-md-3  footer-section">
        <h5>CONTACT</h5>
      <ul>
        
         <li> <span><i class="material-icons" >call</i> </span> +256 772699680</li>  
         <li> <span><i class="material-icons" >call</i> </span> +256 772658434</li>  
         <li><span><i class="material-icons" >email</i> </span>  pastorjuliuseribu@hotmail.com</li>  
         <li> <span><i class="material-icons" >email</i> </span> soroticommunitychurch@gmail.com</li>  
        </ul>   
   </div>

    <div class="col-lg-4 col-md-4  footer-section">
        <h5>LOCATION</h5>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.007514481225!2d33.59192401431519!3d1.7262887607322805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1779b98d67a8cd7f%3A0x33eb88550e0234d2!2sCommunity%20Church!5e0!3m2!1sen!2sug!4v1595507062051!5m2!1sen!2sug" width="100%" height="250px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
             
    </div>


    </div>
    </div>




 <div id="footer-credit">
   <P>Copy right {{ "\u00A9"}} {{yearnow}} Community Church Uganda</P>   
 </div>

</footer>

