footer{
    background:gray;
    min-height: 400px;
    color:#fff;
    position: relative;
    background-image: url(../../assets/img/dark_mosaic.png);
    background-size:center center;

}

.footer-section{
    margin:20px;
    min-height: 300px;

}

footer h5{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}

footer ul{
    margin: 0;
    padding: 0;
    margin-top: 25px;
}

footer ul li{
    list-style: none;
    height:40px;
    display:flex;
    color:#ccc;
    
}

footer ul li span{
    position: relative;
    margin-left: 10px;
    
    
}

footer ul li span i{
    font-size: 24px;
   position: relative;
   bottom:0;
   left:0;
}

#footer-credit{
    width:100%;
    height:25px;
    background:rgb(7, 0, 26);
    color:white;
    text-align: center;
    margin-left:4px;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;


}
#footer-credit{
    font-size: 80%;
    font-weight: normal;
    font-family: sans-serif;
}