<app-nav></app-nav>

<div class="pages-main-wrapper">
<div class="top-cont">
    <h5> CHURCH PLANTING</h5>
</div>

<main>
    <h5 class="section-title">NEW CHURCH PLANTS</h5>
    
<div class="container" *ngFor = "let plant of plants">
	<div class="row">

	<div class=" col-md-5 card mr-3 mt-3">
        <img src="{{plant.imgUrl}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">  {{plant.churchplant}} </h5>
            <p class="card-text"></p>
        </div>
    </div>


<div class="col-md-5 card mt-3" >
  <img src=" {{plant.boreholeImgUrl}} " class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">
        {{plant.borehole}}
    </h5>
    <p class="card-text"></p>
  
  </div>

</div>
		
	</div>
</div>

</main>
</div>

<app-footer></app-footer>
