<app-nav></app-nav>
<div class="top-cont">
    <h5>ABOUT US</h5>
</div>
<div style="min-height: 60vh;">
  <h4>Who we are</h4>
    <h4>Background</h4>
    <p>
        Soroti community y is ac located in sorotiv munic pal and its main church
        It was started in the year 2006 -6-nov , started by Pr Julius Eribu and his wife Joyce
        Eribu, who are the vission beares.
        The ministry focuses on holistic needs of the people in the communities.
        The church is pastored by alead pastor who is also a team leader of thepastoralteam of all the community churches
        Inthe mainchurch heis assisted by other associate pastors, while in the rest of the churches there are pastors who help in pastoring of churches.
        The lead pastor isalso the chief executive of all community churces. The ministry inall coomunity churches is headed and managed
        by two teams; Ministry Team and DEacon Team, The ministry team is  ateam of pastors and elders, headed by the ; lead pastor who runs aspects related to 
        the spiritual ministry. 
        The Deacons teams help with the management of the affairs of both physical and ministry needs.They support th ministry tream to acomplishthe intended objectives of
        the ministry.They also perform other ministry related spport activities like, coordinating burial arrangements, conducting recruitment of support staff, providing guidance on policies related issues andother roles.
        The church is responding to the great  commission.It is actively involved in Evangelism, church planting and decipleship throught the Eastern and Northern Region.
        It hassofar planted more than 150 branch churches, in the following Districts: Soroti,Kaberamaido,Katakwi,Amuria,Aleptong,Dokolo,Lira,Kayunga,Bukedea,Serere,Kalaki,Abim.
        The Lord has called us to reach the communities with the gospel of Jesus Christ and to meet physical needs of the 
        people in the communities, thus our ministry aims at touching and transforming lives in communities usinga wholistic approach.
        We feel the burden for the lost souls and it is the greatest callling and burden God has laid in our hearts for which we have to try to
         meet using the available resources and as the Lord provides.
    
         The ministry currently focuses on reaching out to the following areas
    
         The womens Ministry,YOuth Ministry, Pastoral Ministry,Evangelism,Missions including Church planting and decipleship.
         OUR 
         Soroti church statement is ment to propel all members to one direction,therfore members of Community churches believe
    </p>
     <p>Holy Bible: We believe that the both the old and new testament contain sixty six books are verbally insired of God and are the revelation of God to man
         Infaluble and Authoritative word of God, and the only rule for Christiian faith and Conduct 
         1Thes:2:13
         1TIM:3:5-17
         2nd peter 1:21</p>

         <p>Trinity: We believe in one trueGod who revealed himself as the internally self existant "I AM" the creater of heaven and earth and the 
             redeemer of man kind.
             He has further revealed him self as embodying the principals of relationship and the association of the thre persons as Father,Son and the Holy Spirit
             Deut 6:4,
             Isaiah 43:10-11
             Mat 28:19,
             Luke 3:22,

         </p>

         <p>The Diety of Jesus Christ:    We believe that in the deity of the Lord Jesus christ in his virgin birth (luke 1:31-35),
             in His sinless life (Heb 7:26, 1ptr 2:22,)inHis miracles (acts 2:22, 10:38) inHis victorious and attornying Death (1cor 15:3)
             in His Bodily ressurection (Mat:28:6) 1cor 15:4, in his acention to the right hand of the father (acts 1:9,11  2:33, philipians 2:9-11),
             and His personal future return to this earth inthe power and glory to rule Nations in the millenium (jhn:14:1-6, Rev:20:1-6).
         </p>

         <p>
             The fall of Man : We believe that man was created Good and upright: "For God said that let us make man in our image, after our likeness." However
             man by voluntary transgrasion fell and thereby incurred not only Physical death but also spiritual Deathwhich is separation from God
             Gen:1:2, 27:1ff , 2:7 ,3:6 ,Romans 5:12-19
         </p>
         <p>The savation of Man: We believe that the only meas of salvation is through repentance towards God and faith in the lord Jesuschrist and this results in Regeneration inthe Holy Spirit
             Romans:1013-15, jhn 3:3, 16-19, Titus 2:11, 2,3-7 . Te inward evidance of salvation is thge Direct witness of te Holy spirit (rom 8:18) The outward evidance to all men is a life of righteousness and true holiness (Eph:4:24, TITUs 2:12)
         </p>
         <p>The Redemptive work of Christ: We belive tat the redemptive work of Christ on the cross provides healing of a human body in answer to believing prayer (1ptr 2:24, James 5:13-15)</p>
    <h4>Vision</h4>
    <p>A purpose driven church</p>
    <h4>Mission</h4>
    <p>Our Mission is to Evangelise,Transform and Empower Communities</p>
    <h4>Core Values</h4>
    <ul>
        <li>Integrity</li>
        <li>Spirit filled-Christians</li>
        <li>Excellence</li>
        <li>Compassion and servanthood</li>
        <li>Team work and Delegation</li>
        <li>Equal opportunities</li>
        <li>Innovation and Creativity</li>
    </ul>
   
    <h4>Where we are</h4>
    <p>We are located at a serene environment in Amen, opposite the Sub-County
         Headquarters in Soroti City along Soroti-Lira Highway 200 Meters from the main road
         about 4 KM from the Heart of Soroti City with over 150 branches. </p>

   

</div>

<app-footer></app-footer>