<app-nav></app-nav>

<div class="pages-main-wrapper " style="z-index: 3;">
<div class="top-cont">
    <h5>ABOUT US</h5>
</div>
    
 <div class="about-text-wrapper">   

    <h4>Who we are</h4>
    <h5>Background</h5>
 
        <p>
           Soroti community is located in soroti municpal and its main church.
            It was started in the year 2006 on the 6th of November  by Pr Julius Eribu and his wife Joyce
            Eribu, who are the vission beares, and it focuses on holistic needs of the people in the communities.<br>
            The church is pastored by alead pastor who is also a team leader of the pastoral team of all the community churches.
            and in the mainchurch he is assisted by other associate pastors, while in the rest of the churches there are also pastors who help in pastoring.<br>
            The lead pastor is also the chief executive of all community churces. The ministry of all community churches is headed and managed
            by two teams; Ministry Team and Deacon Team. <br> <br>
             The ministry team is  a team of pastors and elders headed by the lead pastor who run aspects related to 
            the spiritual ministry. <br>
            The Deacons team help with the management of the affairs of both physical and ministry needs.They support the ministry tream to acomplishthe intended objectives of
            the ministry.They also perform other ministry related spport activities like, coordinating burial arrangements, conducting recruitment of support staff, providing guidance on policy related issues and other roles.<br> <br>
            
            The church is responding to the great  commission.It is actively involved in Evangelism, church planting and decipleship throught the Eastern and Northern Region.
            It has so far planted more than 150 branch churches, in the following Districts:<br>
             Soroti,Kaberamaido,Katakwi,Amuria,Aleptong,Dokolo,Lira,Kayunga,Bukedea,Serere,Kalaki,Abim district.<br>
            The Lord has called us to reach the communities with the gospel of Jesus Christ and to meet physical needs of the 
            people in the communities, thus our ministry aims at touching and transforming lives in communities using a wholistic approach.
            We feel the burden for the lost souls and it is the greatest calling and burden God has laid in our hearts for which we have to try to
             meet using the available resources and as the Lord provides.
        
             The ministry currently focuses on reaching out to the following areas
        
             The Womens Ministry,Youth Ministry, Pastoral Ministry,Evangelism,Missions including Church planting and decipleship.
            
        </p>
        


    <h5>Our Belief</h5>
    <p>
       Our Soroti church statement is ment to propel all members to one direction,therfore members of Community churches believe in:<br>
       <strong>Holy Bible:</strong> We believe that both the Old and New testament consist of sixty six books that are verbally insired of God and are the revelation of God to man;
        Infaluble and Authoritative word of God, and the only rule for Christiian faith and Conduct 
       <br> <code> 1 Thes 2:13,</code>  <code>1 Tim 3:5-17,</code> <code> 2nd Peter 1:21</code>
        </p>

        
     <p><strong>Trinity:</strong> We believe in one true God who revealed himself as the internally self existant "I AM" the creater of heaven and earth and the 
        redeemer of man kind.
        He has further revealed him self as embodying the principals of relationship and the association of the three persons as Father,Son and the Holy Spirit
      <br>  <code>Deut 6:4,</code> <code>Isaiah 43:10-11,</code> <code>Mat 28:19,</code> <code> Luke 3:22,</code>
        
        
       

    </p>

    <p> <strong>The Diety of Jesus Christ: </strong>   We believe that in the deity of the Lord Jesus christ in his virgin birth <code>(luke 1:31-35)</code>,
        in His sinless life <code>(Heb 7:26, 1ptr 2:22,)</code>in His miracles <code>(acts 2:22, 10:38)</code> inHis victorious and attornying Death <code>(1cor 15:3)</code>
        in His Bodily ressurection <code>(Mat:28:6), 1cor 15:4</code>, in his acention to the right hand of the father <code>(acts 1:9,11  2:33, philipians 2:9-11)</code>,
        and His personal future return to this earth in the power and glory to rule Nations in the millenium <code>(jhn:14:1-6, Rev:20:1-6)</code>.
    </p>

    <p>
        <strong>The fall of Man :</strong> We believe that man was created Good and upright: "For God said that let us make man in our image, after our likeness." However
        man by voluntary transgrasion fell and thereby incurred not only Physical death but also spiritual Death which is separation from God
        <code>Gen 1:2, 27:1ff , 2:7 ,3:6 ,Romans 5:12-19</code>
    </p>
    <p> <strong>The salvation of Man:</strong> We believe that the only means of salvation is through repentance towards God and faith in the lord Jesus Christ and this results in Regeneration in the Holy Spirit
        <code>Romans 10:13-15, Jhn 3:3, 16-19, Titus 2:11, 2,3-7</code> . The inward evidance of salvation is the Direct witness of the Holy spirit <code>(Rom 8:18)</code> The outward evidance to all men is a life of righteousness and true holiness <code>(Eph:4:24, Titus 2:12)</code>
    </p>
    <p> <strong>The Redemptive work of Christ:</strong> We believe that the redemptive work of Christ on the cross provides healing of a human body in answer to believing prayer <br> <code>(1 Ptr 2:24, James 5:13-15)</code> </p>
<h5>Vision</h5>
<p>A purpose driven church</p>
<h5>Mission</h5>
<p>Our Mission is to Evangelise,Transform and Empower Communities</p>
<h5>Core Values</h5>
<ul>
   <li>Integrity</li>
   <li>Spirit filled-Christians</li>
   <li>Excellence</li>
   <li>Compassion and servanthood</li>
   <li>Team work and Delegation</li>
   <li>Equal opportunities</li>
   <li>Innovation and Creativity</li>
</ul>

<h5>Where we are</h5>
<p>We are located at a serene environment in Amen, opposite the Sub-County
    Headquarters in Soroti City along Soroti-Lira Highway 200 Meters from the main road
    about 4 KM from the Heart of Soroti City with over 150 branches. </p>

    
 
 </div>
</div>

<app-footer></app-footer>