<app-nav></app-nav>

<div class="pages-main-wrapper">
    <div class="top-cont">
        <h5>WHAT WE DO</h5>
    </div>



    <h4>What We Do</h4>
    <p>We run on the mandate of the great commission that Jesus
         gave the disciples in Matthew 28:19. Our major core is
          in Evangelism and Church Planting and we have been able
           to plant over 150 churches in Uganda, with our Pastorate
         Headquarters in Soroti City in Amen B along Soroti-Lira Highway</p>

</div>

<app-footer></app-footer>
