<div class="programs-main-cont">
    <h5 class="section-title">CHURCH PROGRAMMES</h5>

    <div class="container-fluid thematic-cont">
        <div class="row" >
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 thematic ">
                <div class="div-head"><h5>MISSIONS</h5></div>
                <P style="padding:5px">Commuity church is built on missions and outreach,every new church plant is a result from it </P> 
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 thematic">
                <div class="div-head"><h5>SUNDAY PROGRAMME</h5></div>
            <table class="table table-striped" >
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>MORNING SERVICE: </td>
                        <td>06:30AM -</td>
                        <td>10:30 AM</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>EVENING SERVICE</td>
                        <td>4:00 PM -</td>
                        <td>06:30 PM</td>
                    </tr>
                    </tbody>
             </table>
         </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 thematic">
           <div class="div-head"><h5>MID WEEK PROGRAMMES</h5></div>
           <table class="table table-striped">
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>BIBLE STUDY</td>
                    <td>WED</td>
                    <td>3:00 - 5:00PM</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>CHOIR PRACTICE</td>
                    <td>THURS & SAT</td>
                    <td>4:00PM - 5:00 PM</td>
                </tr>
                </tbody>
          </table>
                
            </div>

        </div>

        <div id="thematic-grad">cc</div>
        
    </div>
</div>
