<app-nav></app-nav>
<div class=" pages-main-wrapper">

    <div class="top-cont">
        <h5>CONTACT US</h5>
    </div>
    <div class=" row contact-main-cont pages-main-wrapper">
        <div class="col-lg-6 col-md-6 contact-inner-cont">
            <div class="other-contact">
                <ul>
                    <li>Tel: +256 772699680</li>  
                    <li>Tel: +256 772658434</li>  
                    <li>Email: pastorjuliuseribu@hotmail.com</li>  
                    <li>Email: soroticommunitychurch@gmail.com</li>  
                </ul>
            </div>

            <form action="">
                <div class="form-group">
                    <input type="text" placeholder="Enter Name" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Enter Email or Phone Number" class="form-control">
                </div>
                <div class="form-group">
                    <textarea placeholder="Enter Message" class="form-control"></textarea>
                </div>
            <div class="form-group">
                <input type="submit" value="SUBMIT" class="btn btn-md btn-call">
            </div>
                
            </form>
            
        </div>


</div>
</div>

<app-footer></app-footer>
