<app-nav></app-nav>
<div class=" row contact-main-cont">
    <div class="col-lg-6 col-md-6 contact-inner-cont">
        <div class="other-contact">
            <ul>
                <li>Adress:Soroti Uganda</li>
                <li>Tel:+2560000000</li>
                <li>Email:communitychurch@gmail.com</li>
            </ul>
        </div>

        <form action="">
            <div class="form-group">
                <input type="text" placeholder="Enter Name" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Enter Email or Phone Number" class="form-control">
            </div>
            <div class="form-group">
                <textarea placeholder="Enter Message" class="form-control"></textarea>
            </div>
           <div class="form-group">
            <input type="submit" value="SUBMIT" class="btn btn-md btn-call">
           </div>
            
        </form>
        
    </div>


</div>

<app-footer></app-footer>
