.main-nav-cont{
    position: fixed;
    top:0;
    width: 100%;
    height: 100px;
    margin-top: 0;
    border-right: 0;
    padding: 0;
    box-shadow: 1px 1px 2px #ccc;
    background-image:var(--gradient);
    z-index: 10;
}
.logo-cont{
    width: 55%;
    max-width: 45%;
    height: 100px;
    position: absolute;
    left:1%;
    top:0;
    display:flex;
    align-items: center;
    
}

.logo-cont img{
    width: 100%;
    max-width: 100%;
}

.main-menu-cont{
    position: absolute;
    right:1%;
    top:50%;
    transform: translateY(-50%);
    width: 40%;
    height: 100px;
    display: flex;
    align-items: center;
}
.main-menu-cont ul{
    margin: 0;
    padding:0 ;
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
    

}
.main-menu-cont ul li{
    list-style: none;
    display: inline-flex;
    align-items: center;
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
   
    height: 100%;
    font-size: 1rem;
    outline:none;
    border:none;

}
.main-menu-cont ul li:hover{
    text-decoration: underline;
    text-decoration-color: lime;
   
}

.main-menu-cont ul li a{
    text-decoration: none;
    color:#ccc;
}

.main-menu-cont ul li a:hover{
    text-decoration: underline;
    text-decoration-color: lime;


}

.event-tab span {
    display:flex;
    align-items: center;
}
.event-tab span i{
    font-size: 1rem;
    color:#fff;
}
.event-tab span i:hover{
    text-decoration: none;
    background:pink;
    z-index: 1;
}

.humbager{
    position: absolute;
    right:5px;
    width:60%;
    height:80%;
    display:block;
    color:#fff;
    display:none;
    align-items: center;
  
}

.humbager span i {
    font-size: 30px;
}

.phone-menu{
    width:100%;
    height:98vh;
    position: absolute;
    top:100%;
    left:-600px;
    z-index: 2;
    background:#fff;
    transition: all 500ms ease-in;
    display: none;
    
}

.phone-menu ul{
    margin: 0;
    padding: 0;
    width: 100%;
}
.phone-menu ul li{
    list-style: none;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color:gray;
    height:50px;
    padding: 10px;
    border-bottom: 1px solid #ccc;

    
}
.phone-menu ul li:hover{
    color:tomato;
}

.phone-menu ul li a{
    text-decoration: none;
    color:gray;
}

.phone-menu ul li a:hover{
    text-decoration: none;
}

/* DROP DOWNS */

.events-menu{
    width: 250px;
    min-height: 250px;
    background-color: #fff;
    position:absolute;
    top:100px;
    right:10%;
    transition: all 200ms ease-in;
    display:none;
}
.events-menu ul{
    margin: 0;
    padding: 0;
}
.events-menu ul li{
    list-style: none;
    border-bottom: 1px solid gray;
    padding:5px;
   
}
.events-menu ul li:hover{
    background:#ccc;
}







/* Responsive ness */

@media only screen and (max-width:768px){
    .main-nav-cont{
        height: 60px;
    }
    .main-menu-cont{
        width:20%;
        height:100%;
        
    }
    .main-menu-cont ul{
        display:none;
    }
    .humbager{
        display:flex;
    }  
    .logo-cont{
        width:60%;
        position: relative;

    }
    .logo-cont img{
        position: absolute;
        top:15%;       
    }
    .phone-menu{
        display: block;
    }
}
@media only screen and (min-width:769px) and (max-width:998px){
    .main-menu-cont{
        top:85%;
        bottom:5px;
        height: 20px;
        width:60%;
        z-index: 1;
          }
}