<section><!--=================================GET INVOLVED ===============--->
    <h5 class="section-title">GET INVOLVED </h5>

<div class="container-fluid ">
    <div class="row quote-section">
        <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10" class="partnership-cont">
            <h5> BECOME OUR PARTNER TODAY </h5>
            <P>
                Your partnership will help us do the work of God More
            </P>
            <button class="btn btn-md btn-warning" >JOIN NOW</button>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10" id="quotez-cont">
            <h5 id="quotes-h5"> OUR MISSION </h5>
            <P id="quotez"><strong>Evangelize, Transform and Empower Communities</strong>
            </P>
        </div>



        <div id="gradient-cover"></div>

    </div>
    
</div>

</section>

