<section><!---==========================LATEST UPDATES===============---->

    <!---card image dimensiond 640 x 426---->
    <h5 class="section-title">LATEST UPDATES</h5>

    <div class="container-fluid">
    <div class="row" style="display:flex;justify-content: center;background:#f0f0f0">

        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 what-we-do" >
            <img class="card-img-top" src="../../assets/img/talkshow.png" alt="Radio Talk Shows">
<div class="card-body ">
 <a class="card-title">Commissioning of new church building</a>

</div>
            
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 what-we-do">
            <img class="card-img-top" src="../../assets/img/paralegal.png" alt="Paralegal training">
<div class="card-body">
 <a class="card-title">Comissioning of a bore hole</a>

</div>
            
        </div>

        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 what-we-do">
            <img class="card-img-top" src="../../assets/img/empowerment.jpg" alt="Card image cap">
<div class="card-body">
 <a class="card-title">Aiding education and spiritual growth</a>

</div>
            
        </div>

<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 what-we-do">
            <img class="card-img-top" src="../../assets/img/presentation.jpg" alt="Card image cap">
<div class="card-body">
 <a href="#" class="card-title title-link">Purpose driven</a>

</div>
            
        </div>



    </div>
    
</div>
    
</section>
