  <!-- Start Slider Area -->
 <div class="main-slider-cont">

  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/img/fullone.jpg" alt="Angular Carousel 1">
      </div>
      <div class="carousel-caption">
        
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/img/fullthree.jpg" alt="Angular Carousel 2">
      </div>
      <div class="carousel-caption">
        
      </div>
    </ng-template>
  </ngb-carousel>



   <div class="opaque">
    <div class="slider-text-cont">
      <h4 class="slider-text"></h4>
      <div class="slider-btn-cont">
        <button class="btn btn-md btn-donate">DONATE NOW  </button>
      </div>
    </div>

   </div>
   </div>
  <!-- End Slider Area -->
