<section><!--=================================GET INVOLVED ===============--->
    <h5 class="section-title">GET INVOLVED </h5>

<div class="container-fluid ">
    <div class="row quote-section">
        <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 partnership-cont" >
            <h5> BECOME OUR PARTNER TODAY </h5>
            <P>
                Your partnership will help us do the work of God More
            </P>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScw9VRS0tXGopUjHJXl5lwBb3ECNxELe-4M6u2rhk92Fp9AWQ/viewform?usp=sf_link" class="btn btn-md btn-warning" target="_blank" >JOIN NOW</a>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10" id="quotez-cont">
            <h5 id="quotes-h5"> OUR MISSION </h5>
            <P id="quotez"><strong>Evangelize, Transform and Empower Communities</strong>
            </P>
        </div>



        <div id="gradient-cover"></div>

    </div>
    
</div>

</section>

