<section>
    <!--=================================PRAYER REQ ===============--->
    <h5 class="section-title">PRAYER REQUESTS </h5>

<div class="container-fluid prayer-req-section">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10" class="prayer-text">
            <h3 >NEED SOME HELP IN PRAYER </h3>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10" id="prayer-cont">
            
            <P id="prayer">
                <strong>Submit Your Prayer Request Below  </strong>
               
            </P>
             
             <form #prayerForm = "ngForm" (ngSubmit)="onSubmit(prayerForm)" class="prayer-form" novalidate>
                 <div class="form-group">
                     <label for="name">Enter name <span>*</span> </label>
                     <input type="text" placeholder="Enter Your name" minlength="3" pattern="[a-zA-Z]" name="name" ngModel #xi = "ngModel" (click)="cecki(xi)" id="name" class="form-control" required>
                     <div class="alert alert-danger" *ngIf = "xi.touched && !xi.valid">
                         <div *ngIf="xi.errors.required">Name is required</div>
                         <div *ngIf="xi.errors.minlength">Name Must be more than three characters</div>
                         <!-- <div *ngIf="xi.errors.pattern">Not a name</div> -->
                     </div>
                 </div>

                 <div class="form-group">
                    <label for="name">Enter Mobile <span>*</span></label>
                    <input type="text" placeholder="Enter Your mobile No." minlength="10" maxlength="15" name="mobile" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="name">Prayer Request <span>*</span></label>
                    <textarea type="text" placeholder="Type in Your Prayer Request" minlength="20" name="prayer_request" class="form-control" required></textarea>
                </div>

                <input type="submit" value="SUBMIT" class="btn btn-md btn-warning btn-prayer"/>
             </form>

        </div>
    </div>

    <div id="prayer-gradient-cover"></div>
    
    
</div>

</section>
