<section><!--=================================PRAYER REQ ===============--->
    <h5 class="section-title">PRAYER REQUESTS </h5>

<div class="container-fluid prayer-req-section">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10" id="prayer-cont">
            <h5 id="prayer-h5">  </h5>
            <P id="prayer"><strong>Submit Your Prayer Request Below  </strong>
             </P>
             
             <form action="#" class="prayer-form">
                 <div class="form-group">
                     <label for="name">Enter name <span>*</span> </label>
                     <input type="text" placeholder="Enter Your name" minlength="3" name="name" id="name" class="form-control" required>
                 </div>

                 <div class="form-group">
                    <label for="name">Enter Mobile <span>*</span></label>
                    <input type="text" placeholder="Enter Your mobile No." minlength="10" maxlength="15" name="mobile" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="name">Prayer Request <span>*</span></label>
                    <textarea type="text" placeholder="Type in Your Prayer Request" minlength="20" name="prayer_request" class="form-control" required></textarea>
                </div>

                <input type="submit" value="SUBMIT" class="btn btn-md btn-warning btn-prayer"/>
             </form>

        </div>

        <div class="prayer-text">NEED SOME HELP IN PRAYER </div>

        <div id="prayer-gradient-cover"></div>

        

    </div>
    
</div>

</section>
